﻿.button-green {
   background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #5c0000);
  background-image: -moz-linear-gradient(top, #d93434, #5c0000);
  background-image: -ms-linear-gradient(top, #d93434, #5c0000);
  background-image: -o-linear-gradient(top, #d93434, #5c0000);
  background-image: linear-gradient(to bottom, #d93434, #5c0000);
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  text-shadow: 1px 1px 3px #d134d1;
  -webkit-box-shadow: 0px 0px 6px #ffffff;
  -moz-box-shadow: 0px 0px 6px #ffffff;
  box-shadow: 0px 0px 6px #ffffff;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button-green:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #000000);
  background-image: -moz-linear-gradient(top, #fc3c3c, #000000);
  background-image: -ms-linear-gradient(top, #fc3c3c, #000000);
  background-image: -o-linear-gradient(top, #fc3c3c, #000000);
  background-image: linear-gradient(to bottom, #fc3c3c, #000000);
  text-decoration: none;
}