﻿<div id="webcam">
</div>
<div class="row" style="margin:auto; display:block;">
    <div class="col s6 offset-s3" style="height:100px; margin:auto; display:block; margin-top:50px; width:50%; background-color:red; border-radius:20px;">
        <div id="typing-container" style="text-align:center; padding-top:20px; font-family: 'Comic Sans MS', cursive;">

        </div>
    </div>
</div>
<div>
    <button onclick="start()">Click me</button>
    <input type="button" id="textToSpeech" value="TextToSpeech" />
    <textarea id="output" style='width:400px;height:200px'></textarea>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/camera")

@*<script src="~/Scripts/camera/manageCamera.js"></script>*@
<script src="~/Scripts/autotype.js"></script>
<script src="~/Scripts/typed.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    var bot = $.connection.botHub;

    $.connection.hub.start()
        .done(function() {
            $("#textToSpeech")
                .click(function() {
                    bot.server.Speech("Hi");

                });
        });
    bot.client.Speech = function (msg) {
        var message = [msg];
        $("#typing-container").typed({
            strings: message,
            typeSpeed: 0
        });
    }
    function x(msg) {
        var message = [msg];
        $("#typing-container").typed({
            strings: message,
            typeSpeed: 0
        });
    }
    
    
    function microphone() {
        bot.server.speechToText().done(function () { });
    }
</script>
<script src="~/Scripts/speech.1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
    var client;

    function getMode() {
        return Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionMode.shortPhrase;
    }

    function getKey() {
        return "f5ee192790a54aa88771354bc65fbe1f";
    }

    function getLanguage() {
        return "en-us";
    }

    function clearText() {
        document.getElementById("output").value = "";
    }

    function setText(text) {
        document.getElementById("output").value += text;
    }

    function start() {
        var mode = getMode();

        clearText();

        client = Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionServiceFactory.createMicrophoneClient(
            mode,
            getLanguage(),
            getKey());
        client.startMicAndRecognition();
        setTimeout(function () {
            client.endMicAndRecognition();
        }, 5000);
        client.onPartialResponseReceived = function (response) {
            setText(response);
        }

        client.onFinalResponseReceived = function (response) {

            x(response[0].display);
            setText(JSON.stringify(response));
        }

        client.onIntentReceived = function (response) {
            setText(response);
        };
    }
</script>