﻿@{
    ViewBag.Title = "Home Page";
}
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
<div style="text-align:center; background-color:#282727; width:100%; height:100%;">
    <p style="color:white; font-size:50px;">Time to Interview!</p>

    <a class="waves-effect waves-light btn" onclick="location.href='@Url.Action("Welcome", "Home")'">Click me!</a>
</div>