﻿
<body style="margin:0;">
    <div class="col s12" style="background-color:	#282727; height:100%; width:100%;">
        <div style="padding-top:10%;">
            <div class="col s12" style="max-height:250px; max-width:250px; overflow:hidden; border-radius:60px; margin:auto; display:block;">
                <div>
                    <img src="~/Content/eye.gif" style="text-align:center; max-height:100%; max-width:140%; position:relative; top: -157px; display:block; margin: auto; left:-36px;" />
                </div>
                <div id="webcam" style="opacity: 0.2;top: -565px; position:relative; border-radius:60px; left: -55px; max-height:100px; max-width:100px;"></div>
            </div>
            <div class="row" style="margin:auto; display:block;">
                <div class="col s6 offset-s3" style="height:100px; margin:auto; display:block; margin-top:50px; width:50%; @*background-color:red;*@ border-radius:20px;">
                    <div id="typing-container" style="font-size:30px; color:white; text-align:center; padding-top:20px; font-family: 'Comic Sans MS', cursive;">

                    </div>
                </div>
            </div>
        </div>
        <div id="response">
            <pre></pre>
        </div>
            <div class="row" style="margin:auto; display:block;">
                <div id="my-container" style="font-size:30px; color:white; text-align:center; padding-top:20px; font-family: 'Comic Sans MS', cursive;">

                </div>
                <button class="button-green" style="position:relative; display:block; margin:auto; outline:none;" id="buttonclick" onclick="start()">Click Me!</button>
            </div>

    </div>

</body>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/typed.min.js"></script>
<script src="~/Scripts/autotype.js"></script>
@Scripts.Render("~/bundles/camera")
<script src="~/Scripts/camera/manageCamera.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalr/hubs"></script>
<link href="~/Content/OwnCSS.css" rel="stylesheet" />
<script>
    var bot = $.connection.botHub;

    $.connection.hub.start()
        .done(function() {
            //bot.server.Speech("Hi");
        });
    bot.client.botSayToClient = function (msg) {
        var message = [msg];
        $("#typing-container").typed({
            strings: message,
            typeSpeed: 0
        })};

 var messageReceiveFunction = function(message) {
            $("#typing-container")
                .typed({
                    strings: [message],
                    typeSpeed: 0
                });
     bot.server.Speech(message);
        };

    var arr = {
        "type": "message",
        "text": "byleco",
        "from": {
            "id": "default-user",
            "name": "User"
        },
        "timestamp": "2016-12-16T22:56:02.103Z",
        "channelData": {
            "clientActivityId": "1481924119805.3300241561508799.34"
        },
        "id": "6jfd4m4e8abimfda7c",
        "channelId": "emulator",
        "recipient": {
            "id": "ffc2ka9ea0j5j22ggc"
        },
        "conversation": {
            "id": "8f6i74ii7mbcihbd7c"
        },
        "serviceUrl": "http://localhost:12559"
    };
    //$('#buttonclick').click(function () {
    //    arr["text"] = $('#textareainput').val();
    //    $.ajax({
    //        type: "POST",
    //        url: 'http://localhost:3979/api/Messages',
    //        data: arr,
    //        success: function (msg) {
    //            messageReceiveFunction(msg);
    //        },
    //        error: function (msg) {
    //            alert(msg);
    //        }
    //    });
    //});
    bot.client.Speech = function (msg) {
        var message = [msg];
        $("#typing-container").typed({
            strings: message,
            typeSpeed: 0
        });
    }
    function displaySpeechInMyContainer(msg) {
        var message = [msg];
        $("#my-container").typed({
            strings: message,
            typeSpeed: 0
        });
        arr["text"] = msg;
        $.ajax({
            type: "POST",
            url: 'http://localhost:3979/api/Messages',
            data: arr,
            success: function (msg) {
                messageReceiveFunction(msg);
            },
            error: function (msg) {
                alert(msg);
            }
        });

    }


    function microphone() {
        bot.server.speechToText().done(function () { });
    }
</script>
<script src="~/Scripts/speech.1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
    var client;

    function getMode() {
        return Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionMode.shortPhrase;
    }

    function getKey() {
        return "f5ee192790a54aa88771354bc65fbe1f";
    }

    function getLanguage() {
        return "en-us";
    }

    function clearText() {
     //   document.getElementById("my-container").value = "";
    }

    function setText(text) {
      //  document.getElementById("my-container").value += text;
    }

    function start() {
        var mode = getMode();

        clearText();

        client = Microsoft.CognitiveServices.SpeechRecognition.SpeechRecognitionServiceFactory.createMicrophoneClient(
            mode,
            getLanguage(),
            getKey());
        client.startMicAndRecognition();
        setTimeout(function () {
            client.endMicAndRecognition();
        }, 5000);
        client.onPartialResponseReceived = function (response) {
            setText(response);
        }

        client.onFinalResponseReceived = function (response) {

            displaySpeechInMyContainer(response[0].display);

            
           // setText(JSON.stringify(response));
        }

        client.onIntentReceived = function (response) {
            setText(response);
        };
    }
</script>


